 
 <link href="public/css/ventana-consultar.css" rel='stylesheet' type='text/css'/>
 <link href="public/css/style.css" rel='stylesheet' type='text/css'/>
 <div class="main">
     <div class="container contact">
   <h2>{{TITULO_VENTANA}}</h2>
           <form action='index.php' method='post'>
           <p style='font-weight: bold;'>{{TITULO2}}</p><br>
           <input type='hidden' name='mode' value='{{RUTA}}'>
           <table id="example" class="table table-bordered table-hover">
                <thead>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>C.C.</th>
                    <th>Idea</th>
                    <th>Fecha</th>
                </thead>
                <tbody>
                {{OPTION}}
                </tbody>
                <tfoot>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>C.C.</th>
                    <th>Idea</th>
                    <th>Fecha</th>
                </tfoot>
           </table>
           <input type="submit" value="Seleccionar diagnóstico">
		    </form>	

 
   </div></div></div>
    <script>
            //funcion para que se ejecute el script cuando termine de cargar
            $(document).ready(function () {
                
                //funcion para agregar el ajax al submit del formulario
                   $("#consultar_cc").submit(function (e) {
                    //previene que se envien los datos por la url
                    e.preventDefault();
                   
                    //convierte los datos del formulario a arrays
                    var datos = $(this).serializeArray();
                    //var con la url del archivo php
                    var url = "index.php";
                    //var con el id del elemento html en que desea insertar la info
                    //despues del procesamiento
                    var id = "#consulta_Num_Consecutivos";
                    //llama a la funcion ajax
                    realizarAjax(datos, url, id);
                });
                //funcion ajax para enviar formulario a php
                function realizarAjax(datos, url1, id) {

                    $.ajax({
                        data: datos,
                        url: url1,
                        type: 'post',
                        //esta funncion se ejecuta cuando el php a terminado de procesar
                        //con el resultado e inserta el resultado en algun elemento html
                        success: function (contenido) {
                             $(id).html(contenido);
                             var table = $('#example').DataTable();
        
                            $('#example tbody').on( 'click', 'tr', function () {
                                if ( $(this).hasClass('active') ) {
                                    $(this).removeClass('active');
                                }
                                else {
                                    table.$('tr.active').removeClass('active');
                                    $(this).toggleClass('active');
                                }
                            } );
     
                        }
                    });
                }



            });
 </script>